USE [master]
GO
/****** Object:  Database [Wardrobe]    Script Date: 2/20/2017 9:09:42 AM ******/
CREATE DATABASE [Wardrobe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Wardrobe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Wardrobe.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Wardrobe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Wardrobe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wardrobe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wardrobe]
GO
/****** Object:  Table [dbo].[AccessoriesTable]    Script Date: 2/20/2017 9:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessoriesTable](
	[AccessoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Season] [nvarchar](50) NOT NULL,
	[Occason] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AccessoriesTable] PRIMARY KEY CLUSTERED 
(
	[AccessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BottomsTable]    Script Date: 2/20/2017 9:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BottomsTable](
	[BottomID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Season] [nvarchar](50) NOT NULL,
	[Occasion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BottomsTable] PRIMARY KEY CLUSTERED 
(
	[BottomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductsTable]    Script Date: 2/20/2017 9:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductsTable](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeID] [int] NOT NULL,
	[TopID] [int] NULL,
	[BottomID] [int] NULL,
	[ShoeID] [int] NULL,
	[AccesoryID] [int] NULL,
	[PhotoLink] [varchar](max) NULL,
 CONSTRAINT [PK_ProductsTable] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductTypeTable]    Script Date: 2/20/2017 9:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypeTable](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductTypeTable] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoesTable]    Script Date: 2/20/2017 9:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoesTable](
	[ShoeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Season] [nvarchar](50) NOT NULL,
	[Occasion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ShoesTable] PRIMARY KEY CLUSTERED 
(
	[ShoeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TopsTable]    Script Date: 2/20/2017 9:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopsTable](
	[TopID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Season] [nvarchar](50) NOT NULL,
	[Occasion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TopsTable] PRIMARY KEY CLUSTERED 
(
	[TopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ProductsTable]  WITH CHECK ADD  CONSTRAINT [FK_AccessoriesTable] FOREIGN KEY([AccesoryID])
REFERENCES [dbo].[AccessoriesTable] ([AccessoryID])
GO
ALTER TABLE [dbo].[ProductsTable] CHECK CONSTRAINT [FK_AccessoriesTable]
GO
ALTER TABLE [dbo].[ProductsTable]  WITH CHECK ADD  CONSTRAINT [FK_BottomsTable] FOREIGN KEY([BottomID])
REFERENCES [dbo].[BottomsTable] ([BottomID])
GO
ALTER TABLE [dbo].[ProductsTable] CHECK CONSTRAINT [FK_BottomsTable]
GO
ALTER TABLE [dbo].[ProductsTable]  WITH CHECK ADD  CONSTRAINT [FK_ProductTypeTable] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductTypeTable] ([ProductTypeID])
GO
ALTER TABLE [dbo].[ProductsTable] CHECK CONSTRAINT [FK_ProductTypeTable]
GO
ALTER TABLE [dbo].[ProductsTable]  WITH CHECK ADD  CONSTRAINT [FK_ShoesTable] FOREIGN KEY([ShoeID])
REFERENCES [dbo].[ShoesTable] ([ShoeID])
GO
ALTER TABLE [dbo].[ProductsTable] CHECK CONSTRAINT [FK_ShoesTable]
GO
ALTER TABLE [dbo].[ProductsTable]  WITH CHECK ADD  CONSTRAINT [FK_TopsTable] FOREIGN KEY([TopID])
REFERENCES [dbo].[TopsTable] ([TopID])
GO
ALTER TABLE [dbo].[ProductsTable] CHECK CONSTRAINT [FK_TopsTable]
GO
USE [master]
GO
